<!DOCTYPE html>
<html>

<head>
    <title>Vector tiles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        #map {
            font-family: Arial;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-family: Roboto;
        }
        
        div#status {
            position: absolute;
            right: 10px;
            top: 10px;
            overflow: visible;
            min-height: 20px;
            max-width: 192px;
            z-index: 100;
            padding: 5px;
            margin: 2px;
            border: 1px solid grey;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
        }
        
        div#form div {
            margin-bottom: 0.3rem;
        }
        
        div#form {
            position: absolute;
            z-index: 1000;
            right: 10px;
            bottom: 10px;
            width: 15rem;
            height: 15rem;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 5px;
            margin: 2px;
            background-color: rgba(255, 255, 255, 0.7);
        }
    </style>
</head>

<body>
    <div id="status">{{ kiinteistotunnus }} </div>
    <div id="form">
        <div>
            <b-button size="sm" variant="info" v-on:click="toggle_boundaries">
                <span v-if="boundaries">Hide Cadastral Boundaries</span>
                <span v-if="!boundaries">Show Cadastral Boundaries</span>
            </b-button>
        </div>
        <div>
            <b-button size="sm" variant="info" v-on:click="toggle_boundaryMarkers">
                <span v-if="boundaryMarkers">Hide Cadastral Markers</span>
                <span v-if="!boundaryMarkers">Show Cadastral Markers</span>
            </b-button>
        </div>
        <div>
            <b-button size="sm" variant="info" v-on:click="toggle_buildings">
                <span v-if="buildings">Hide Buildings</span>
                <span v-if="!buildings">Show Buildings</span>
            </b-button>
        </div>
        <hr />
        <div>{{ kiinteistotunnus }}</div>
        <!--div>{{ nimi }}</div-->
        <div v-if="kiinteistotunnus !== ''">
            <b-button size="sm" variant="link" v-on:click="info">Linked Data...</b-button>
        </div>
    </div>
    <div id="map" class="map"></div>



    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Promise"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
    <script src="https://epsg.io/3067.js"></script>
    <script>
        var _renderMode = 'hybrid';
        if (document.location.search == '?vector' || document.location.search == '?image' || document.location.search == '?hybrid') {
            _renderMode = document.location.search.substring(1);
        }

        var selection = {},
            data = {
                kiinteistotunnus: '?'
            },
            formData = {
                kiinteistotunnus: '',
                buildings: true,
                boundaries: false,
                boundaryMarkers: false
            },
            boundaryLayer,
            boundaryMarkersLayer,
            buildingsLayer,
            parcelLayer
        ;

        var styles = {
                "boundary_marker": new ol.style.Style({
                    image: new ol.style.RegularShape({
                        fill: new ol.style.Fill({
                            color: '#000000'
                        }),
                        stroke: new ol.style.Stroke({
                            color: '#ff0000',
                            width: 1
                        }),
                        points: 10,
                        radius: 2,
                        rotation: 0,
                        angle: 0
                    })
                }),
                "selected_parcel": new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: 'rgba(0,0,255,1)'
                    }),
                    stroke: new ol.style.Stroke({
                        color: 'rgba(0,0,64,1)',
                        width: 3,
                        lineDash: [10, 5]
                    })
                }),
                "virastokeskus": new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#000000'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#000000',
                        width: 5
                    })
                }),
                "simple": new ol.style.Style({

                    stroke: new ol.style.Stroke({
                        color: '#0000ff',
                        width: 3
                    })
                }),
                "water": new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#a3ccff'
                    })
                }),
                "building": new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: '#008000',
                        width: 1
                    })
                })
            },
            building_styles = {
                residential: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#decdac'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#000000',
                        width: 1
                    })
                }),
                commercial: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#eda999'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#000000',
                        width: 1
                    })
                }),
                summer_cottage: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#f48342'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#b0b0b0',
                        width: 1
                    })
                }),
                industrial: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#c0c0c0'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#000000',
                        width: 1
                    })
                }),
                church: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#666666'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#c0d0e0',
                        width: 3
                    })
                })
            },
            landuse_styles = {
                farmland: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#ffcc00'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#ffcc00',
                        width: 3
                    })
                }),
                grave_yard: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#ffd080'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#f3b680',
                        width: 1
                    })
                }),
                park: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: '#cbe6a3'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#a0e683',
                        width: 1
                    })
                })
            },
            style_road_base = new ol.style.Style({

                stroke: new ol.style.Stroke({
                    color: '#b4b3b4',
                    width: 5
                })
            }),
            style_road = new ol.style.Style({

                stroke: new ol.style.Stroke({
                    color: '#ffffff',
                    width: 2
                })
            }),
            style_road_other = new ol.style.Style({

                stroke: new ol.style.Stroke({
                    color: 'rgba(192,192,192,0.8)',
                    width: 1,
                    lineDash: [10, 5]
                })
            }),
            road_styles = {
                highway: new ol.style.Style({

                    stroke: new ol.style.Stroke({
                        color: 'rgba(248,248,248,.5)',
                        width: 3
                    })
                }),
                major_road: new ol.style.Style({

                    stroke: new ol.style.Stroke({
                        color: 'rgba(252,252,252,.5)',
                        width: 3
                    })
                }),
                minor_road: new ol.style.Style({

                    stroke: new ol.style.Stroke({
                        color: 'rgba(255,255,255,.5)',
                        width: 3
                    })
                }),
                street: style_road,
                path: style_road_other,
                other: style_road_other
            },
            base_road_styles = {
                highway: style_road_base,
                major_road: style_road_base,
                minor_road: style_road_base,
                street: style_road_other,
                path: style_road_other,
                other: style_road_other
            },
            style_boundary = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'rgba(255,0,0,0.9)',
                    width: 1,
                    lineDash: [7, 3]
                })
            }),
            style_railroad = new ol.style.Style({

                stroke: new ol.style.Stroke({
                    color: 'rgba(0,0,0,.8)',
                    width: 1,
                    lineDash: [10, 3]
                })
            }),
            style_vesialue = new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255,255,255,0.1)'
                })
            }),
            style_virastokeskus = new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(0,0,255,0.5)'
                }),
                stroke: new ol.style.Stroke({
                    color: 'rgba(255,0,0,0.5)',
                    width: 2
                })
            }),
            style_parcel = new ol.style.Style({
                /*   stroke: new ol.style.Stroke({
                       color: 'rgba(255,0,0,0.8)',
                       width: 1,
                       lineDash: [10, 5]
                   }),*/

                fill: new ol.style.Fill({
                    color: 'rgba(255,0,0, 0.05)'
                })
            }),
            style_esbo = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'rgba(255,0,0,0.8)',
                    width: 1,
                    lineDash: [10, 5]
                }),

                fill: new ol.style.Fill({
                    color: 'rgba(150,245,204, 0.45)'
                })
            });




        function simpleStyle(feature) {
            return styles.simple;
        }

        function buildingStyle(feature) {
            if (feature.getProperties().id == 416819302 || (feature.getProperties().mtk_id || 0) == 416819302) {
                return styles.virastokeskus;
            }
            var style_for_kind = building_styles[feature.getProperties()['kind_detail']];
            return style_for_kind || styles.building;
        }

        function waterStyle(feature) {
            return styles.water;
        }

        function baseRoadStyle(feature) {
            return base_road_styles[feature.get('kind')] || style_road_base;
        }

        function roadStyle(feature) {
            return road_styles[feature.get('kind')] || style_road;
        }

        function railroadStyle(feature) {
            return style_railroad;
        }

        function landuseStyle(feature) {
            return landuse_styles[feature.getProperties().kind] || style_simple;
        }

        function boundaryStyle(feature) {
            return style_boundary;
        }



        function boundaryMarkerStyle(feature) {
            return styles.boundary_marker;
        }


        function parcelStyle(feature) {
            if (feature.get('kiinteistotunnus') == '09101700160001') {
                return style_virastokeskus;
            }
            if (feature.get('kiinteistotunnus') == selection.kiinteistotunnus) {
                return styles.selected_parcel;
            }
            /*         if( feature.getProperties().kunta != null &&
                            feature.getProperties().kunta === "049" ) {
                            return style_esbo;
                       }*/

            return style_parcel;
        }


        function format_kiinteistotunnus(tn) {
            if (!tn || !tn.length || tn.length != 14) {
                return '';
            }

            var parts = [parseInt(tn.substring(0, 3), 10),
                             parseInt(tn.substring(3, 6), 10),
                             parseInt(tn.substring(6, 10), 10),
                             parseInt(tn.substring(10, 14), 10)];
            return parts.join('-');
        }


        var projection_epsg_no = '3067',
            formatMVT = new ol.format.MVT(),
            parser = new ol.format.WMTSCapabilities(),
            map,
            projection = new ol.proj.Projection({
                code: 'EPSG:3067',
                extent: [-548576, 6291456, 1548576, 8388608]
            }),
            extent = [-548576, 6291456, 1548576, 8388608];


        function onMouseMove(browserEvent) {
            var coordinate = browserEvent.coordinate;
            var pixel = map.getPixelFromCoordinate(coordinate);
            var el = document.getElementById('status');
            var msgParts = [];
            map.forEachFeatureAtPixel(pixel, function (feature) {
                if (!feature.get('kiinteistotunnus')) {
                    return;
                }
                msgParts.push(format_kiinteistotunnus(feature.get('kiinteistotunnus')) || '');
            });
            if (msgParts.length > 1) {
                data.kiinteistotunnus = msgParts.join(',');
            } else {
                data.kiinteistotunnus = msgParts[0] || '';
            }
            el.style.left = '' + (pixel[0] + 20) + 'px';
            el.style.top = '' + (pixel[1] - 30) + 'px';
        }

        function onMouseClick(browserEvent) {
            var coordinate = browserEvent.coordinate;
            var pixel = map.getPixelFromCoordinate(coordinate);
            map.forEachFeatureAtPixel(pixel, function (feature) {
                var kt = feature.get('kiinteistotunnus')
                if (!kt) {
                    return;
                }
                formData.kiinteistotunnus = format_kiinteistotunnus(kt);
                selection.selected = feature;
                selection.kiinteistotunnus = kt;
                parcelLayer.changed();

            });
        }



        fetch('https://karttamoottori.maanmittauslaitos.fi/maasto/wmts/1.0.0/WMTSCapabilities.xml').then(function (response) {
            return response.text();
        }).then(function (text) {
            var result = parser.read(text),
                km_tk_options = ol.source.WMTS.optionsFromCapabilities(result, {
                    layer: 'taustakartta',
                    matrixSet: 'ETRS-TM35FIN'
                });



            return km_tk_options;
        }).then(function (km_tk_options) {
            var xyzTileGrid = km_tk_options.tileGrid;
            
            
            parcelLayer = new ol.layer.VectorTile({
                    style: parcelStyle,
                    renderMode: _renderMode,
                    maxResolution: 16,
                    opacity: 0.4,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/cadastral_parcels/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                });
    
            
             buildingLayer = new ol.layer.VectorTile({
                    style: buildingStyle,
                    renderMode: _renderMode,
                    maxResolution: 8,
                    opacity: 0.7,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/buildings/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                });
            
            
            boundaryLayer = new ol.layer.VectorTile({
                    style: boundaryStyle,
                    renderMode: _renderMode,
                    maxResolution: 16,
                    opacity: 0.9,
                    visible: false,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/cadastral_boundaries/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                });
                boundaryMarkersLayer = new ol.layer.VectorTile({
                    style: boundaryMarkerStyle,
                    renderMode: _renderMode,
                    maxResolution: 4,
                    opacity: 0.9,
                    visible: false,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/cadastral_boundary_markers/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                });
            
            
                roadSource = new ol.source.VectorTile({
                    tilePixelRatio: 1, // oversampling when > 1
                    tileGrid: xyzTileGrid,
                    format: formatMVT,
                    url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/roads/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                })


            return [
                    new ol.layer.Tile({
                    opacity: 0.5,
                    minResolution: 16,
                    source: new ol.source.WMTS((km_tk_options))
                }),
                    new ol.layer.VectorTile({
                    style: waterStyle,
                    renderMode: _renderMode,
                    maxResolution: 32,
                    opacity: 0.4,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/water/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                }),
                    new ol.layer.VectorTile({
                    style: landuseStyle,
                    renderMode: _renderMode,
                    maxResolution: 32,
                    opacity: 0.3,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/landuse/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                }),
                    parcelLayer,
                    new ol.layer.VectorTile({
                    style: baseRoadStyle,
                    renderMode: _renderMode,
                    maxResolution: 32,
                    source: roadSource
                }),
                    new ol.layer.VectorTile({
                    style: roadStyle,
                    maxResolution: 16,
                    source: roadSource
                }),
                    buildingLayer,
                    new ol.layer.VectorTile({
                    style: railroadStyle,
                    renderMode: _renderMode,
                    maxResolution: 32,
                    source: new ol.source.VectorTile({
                        tilePixelRatio: 1, // oversampling when > 1
                        tileGrid: xyzTileGrid,
                        format: formatMVT,
                        url: 'https://beta-karttakuva.maanmittauslaitos.fi/vectortiles/wmts/1.0.0/railroads/default/EPSG:' + projection_epsg_no + '/{z}/{y}/{x}.pbf'
                    })
                }),
                boundaryLayer,
                boundaryMarkersLayer
                ];
        }).then(function (layers) {
            map = new ol.Map({
                layers: layers,
                target: 'map',
                view: new ol.View({
                    projection: projection,
                    center: [384045.9523747833, 6670981.088190043],
                    zoom: 12
                })
            });
            map.on('pointermove', onMouseMove);


            map.on('click', onMouseClick);

            return map;
        }).then(function (map) {
            var v = new Vue({
                    el: '#status',
                    data: data
                }),
                f = new Vue({
                    el: '#form',
                    data: formData,
                    methods: {
                        info: function () {
                            alert("More Info " + this.kiinteistotunnus);
                        },
                        toggle_boundaries: function () {
                            var b = !this.boundaries;
                            this.boundaries = b;

                            boundaryLayer.setVisible(b);

                        },
                        toggle_buildings: function () {
                            var b = !this.buildings;
                            this.buildings = b;

                            buildingLayer.setVisible(b);

                        },
                        toggle_boundaryMarkers: function () {
                            var b = !this.boundaryMarkers;
                            this.boundaryMarkers = b;

                            boundaryMarkersLayer.setVisible(b);
                        }
                    }
                });

            return {
                map: map,
                status: v,
                tools: f
            };

        });
    </script>

</body>

</html>
