
    #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 40px;
    border-radius: 3px;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Titillium Web', sans-serif;
    visibility: hidden;
   
    }

    .collapsible {
      background-color: white;
      color: black;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 12px;
      font-family: 'Titillium Web', sans-serif;
    }
    
    .active, .collapsible:hover {
      background-color: white;
    }
    
    .collapsible:after {
      content: '\002B';
      color: black;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\2212";
    }
    
    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: white;
      border: 1px solid rgba(240, 240, 240, 1.0);
    }
